<a href="https://colab.research.google.com/github/Schimmenti/EarthquakesGPS/blob/main/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd
import pickle as pkl
import scipy.stats as stats
import matplotlib.pyplot as plt
import datetime

In [2]:
def moving_lin_regress(x, T, t0, t1):
    m = []
    for t in range(t0,t1-T):
        m.append(stats.linregress(np.arange(0,T),x[t:t+T])[0])
    return np.array(m)

In [3]:
base_link = "https://raw.githubusercontent.com/Schimmenti/EarthquakesGPS/main/gps_data/"

In [4]:
! wget "https://raw.githubusercontent.com/Schimmenti/EarthquakesGPS/main/gps_data/stat_info.pkl"

--2022-03-02 08:10:51--  https://raw.githubusercontent.com/Schimmenti/EarthquakesGPS/main/gps_data/stat_info.pkl
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17030 (17K) [application/octet-stream]
Saving to: ‘stat_info.pkl’

stat_info.pkl       100%[===================>]  16.63K  --.-KB/s    in 0.001s

2022-03-02 08:10:51 (26.7 MB/s) - ‘stat_info.pkl’ saved [17030/17030]

In [5]:
with open("stat_info.pkl","rb") as handle:
  station_names, station_pos = pkl.load(handle)

In [6]:
stat_data = {}
for name in station_names:
  try:
    stat_data[name] = pd.read_csv(base_link + name + ".csv")
  except:
    continue

In [33]:
for name in stat_data.keys():
  #decimal_years  = stat_data[name]["DateD"].values
  #years = np.trunc(decimal_years).astype('int')
  #days_in_year = 365*np.ones(len(years), dtype=int)
  #days_in_year[days_in_year%4==0] += 1
  #days = np.round((decimal_years-years)*days_in_year).astype('int')
  #starting_date = datetime.date(years[0], 1, 1)
  #delta_days = datetime.timedelta(int(days[0]) - 1)
  #starting_date += delta_days
#
  #ending_date = datetime.date(years[-1]-1, 12, 31)
  #delta_days = datetime.timedelta(int(days[-1]))
  #ending_date += delta_days
  #print(ending_date)
  #del stat_data[name]["Date"]

  stat_data[name]['Date'] = pd.to_datetime(stat_data[name]['DateI'], format='%Y%m%d')
  stat_data[name].set_index("Date", drop=True, inplace=True)
  idx = pd.date_range(stat_data[name].index[0], stat_data[name].index[-1])
  stat_data[name] = stat_data[name].reindex(idx, fill_value=np.NaN)

In [34]:
stat_data['501p']

                 DateI  ...                                              Descr
2005-04-01  20050401.0  ...  Southern_California.20050401.stacov.point-2016...
2005-04-02  20050402.0  ...  Southern_California.20050402.stacov.point-2016...
2005-04-03  20050403.0  ...  Southern_California.20050403.stacov.point-2016...
2005-04-04         NaN  ...                                                NaN
2005-04-05         NaN  ...                                                NaN
...                ...  ...                                                ...
2022-01-13  20220113.0  ...  Southern_California.20220113.stacov.point-2022...
2022-01-14  20220114.0  ...  Southern_California.20220114.stacov.point-2022...
2022-01-15         NaN  ...                                                NaN
2022-01-16  20220116.0  ...  Southern_California.20220116.stacov.point-2022...
2022-01-17  20220117.0  ...  Southern_California.20220117.stacov.point-2022...

[6136 rows x 11 columns]